<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../assets/infrabel_logo.png" alt="Your Logo" style="max-height: 40px; max-width: 150px;">
    </a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="csv-upload" class="nav-link">CSV Upload</a>
      </li>
      <li class="nav-item">
        <a routerLink="coherency-reports" class="nav-link">Coherency Reports</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
