<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="serZone">SerZone</label>
        <select
          class="form-control"
          id="serZone"
          required
          [(ngModel)]="coherencyReport.serZone"
          name="serZone"
        >
          <option *ngFor="let zone of availableSerZones" [value]="zone">{{ zone }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select
          class="form-control"
          id="type"
          required
          [(ngModel)]="coherencyReport.type"
          name="type"
        >
          <option *ngFor="let type of availableTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="tag">Tag</label>
        <select
          class="form-control"
          id="tag"
          required
          [(ngModel)]="coherencyReport.tag"
          name="tag"
        >
          <option *ngFor="let tag of availableTags" [value]="tag">{{ tag }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          required
          [(ngModel)]="coherencyReport.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="comment">Comment</label>
        <input
          type="text"
          class="form-control"
          id="comment"
          required
          [(ngModel)]="coherencyReport.comment"
          name="comment"
        />
      </div>

      <button (click)="saveCoherencyReport()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newCoherencyReport()">Add</button>
    </div>
  </div>
</div>
