<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-primary" type="button" (click)="searchByAttributes()">
          Search
        </button>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="clearSearchField()">
          Clear
        </button>
        <button class="btn btn-danger" (click)="deleteAllCoherencyReports()">
          Remove All
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>SerZone</th>
        <th>Type</th>
        <th>Tag</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>
          <select class="form-control" [(ngModel)]="serZoneFilter">
            <option *ngFor="let serZone of availableSerZones" [value]="serZone">{{ serZone }}</option>
          </select>
        </td>
        <td>
          <select class="form-control" [(ngModel)]="typeFilter">
            <option *ngFor="let type of availableTypes" [value]="type">{{ type }}</option>
          </select>
        </td>
        <td>
          <select class="form-control" [(ngModel)]="tagFilter">
            <option *ngFor="let tag of availableTags" [value]="tag">{{ tag }}</option>
          </select>
        </td>
        <td><input type="text" class="form-control" [(ngModel)]="descriptionFilter" placeholder="Filter by Description" /></td>
        <td></td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let coherencyReport of coherencyReports; let i = index">
        <td>{{ coherencyReport.serZone }}</td>
        <td>{{ coherencyReport.type }}</td>
        <td>{{ coherencyReport.tag }}</td>
        <td>{{ coherencyReport.description }}</td>
        <td>
          <div style="display: flex; border: none; gap: 8px;">
            <button class="btn btn-info btn-sm" (click)="updateCoherencyReport(coherencyReport)">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteCoherencyReport(coherencyReport)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
