<div class="csv-upload-container">
  <h2>Please upload the CSV file you want to process</h2>

  <input type="file" (change)="onFileSelected($event)" accept=".csv">

  <button (click)="uploadFile()" [disabled]="!selectedFile">Confirm Upload</button>
</div>
