<div *ngIf="currentCoherencyReport.id">
  <div class="submit-form">
    <div class="form-group">
      <label for="serZone">SerZone</label>
      <select
        class="form-control"
        id="serZone"
        required
        [(ngModel)]="currentCoherencyReport.serZone"
        name="serZone"
      >
        <option *ngFor="let zone of availableSerZones" [value]="zone">{{ zone }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select
        class="form-control"
        id="type"
        required
        [(ngModel)]="currentCoherencyReport.type"
        name="type"
      >
        <option *ngFor="let type of availableTypes" [value]="type">{{ type }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="tag">Tag</label>
      <select
        class="form-control"
        id="tag"
        required
        [(ngModel)]="currentCoherencyReport.tag"
        name="tag"
      >
        <option *ngFor="let tag of availableTags" [value]="tag">{{ tag }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="currentCoherencyReport.description"
        name="description"
      />
    </div>
    <div class="form-group">
      <label for="comment">Comment</label>
      <input
        type="text"
        class="form-control"
        id="comment"
        [(ngModel)]="currentCoherencyReport.comment"
        name="comment"
      />
    </div>
  </div>

  <button (click)="updateCoherencyReport()" class="btn btn-success">Update</button>
  <button (click)="deleteCoherencyReport()" class="btn btn-danger">Delete</button>
</div>

<div *ngIf="!currentCoherencyReport.id">
  <br />
  <p>Cannot access this Coherency Report...</p>
</div>
